@media only screen and (min-width: 30rem){

    main{
        display: flex;
    }
    
.normal{
    animation-duration: 3s;
    animation-name: slideInFromTop;
}

.bronze{
    background-color: rgb(206, 137, 70);
    animation-duration: 3s;
    animation-name: slideInFromTop;
}

.silver{
    background-color: rgb(192,192,192);
    animation-duration: 3s;
    animation-name: slideInFromTop;
}

.premium{
    background-color: gold;
    animation-duration: 3s;
    animation-name: slideInFromTop;
}


@keyframes slideInFromTop {
    0% {
      transform: translateY(-500%); /* Starts off-screen above */
    }
    100% {
      transform: translateY(0); /* Slides down to original position */
    }
}

.section{
    display:grid;
    align-items: center;
    margin-left: 15rem;
    margin-top: 5rem;
    width: 100%;
}
    
}