@media only screen and (min-width: 30rem) {

    header{
        display: flex;
    }
    
    
}

#text{
    margin: 3rem;
    display: block;
}
#results{
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}