@media only screen and (max-width: 30rem) {
  #menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: #eee;
    color: #000;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  header button::before {
    content: "☰";
  }

  nav {
    background-color: darkblue;
  }
  .navigation a {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
  }

  .navigation a {
    display: none;
  }
  .show a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    animation: slide-in-top 1s both;
    transition: 2s ease-out;
  }

  .navigation a:hover,
  .navigation a:active {
    color: white;
    background-color: black;
  }

  #menu.show::before {
    content: "X";
  }
  header {
    display: block;
    background-image: linear-gradient(#151515, lightskyblue);
  }
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 span {
  color: darkblue;
}

header {
  display: block;
  font-size: medium;
  border-color: darkblue;
  justify-content: center;
  align-items: center;
}

header img {
  height: 4rem;
  padding: 1rem;
}

#sided {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

#modified {
  font-weight: bolder;
  padding-bottom: 20px;
  text-decoration: double underline;
}

.fonts {
  font-size: x-large;
  font-weight: 900;
}

.cont {
  font-size: medium;
  font-weight: 100;
}

.icons {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  height: 100px;
}

@media only screen and (min-width: 34rem) {
  #menu {
    display: none;
  }
  header {
    display: flex;
    font-size: large;
    border: none;
    text-align: center;
    border-bottom: 5px solid darkblue;
  }

  .navigation {
    display: flex;
    width: 45%;
    color: white;
    font-style: oblique;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
  .navigation a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: black;
    font-style: oblique;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  nav a:hover {
    background-color: black;
    border-radius: 10px;
  }

  nav a:hover {
    color: blue;
  }

  nav a:active {
    color: darkblue;
  }

  .list {
    display: block;
  }

  .home {
    display: flex;
    justify-content: space-evenly;
  }

  footer {
    display: flex;
    font-size: large;
    justify-content: space-evenly;
    border: none;
    border-top: 0.5rem solid darkblue;
    text-align: center;
  }

  footer p {
    text-align: center;
    font-size: larger;
    padding-bottom: 40px;
  }
}

main {
  margin: 2rem;
}

header {
  border-bottom: 5px solid darkblue;
}

footer div {
  margin-left: 1rem;
  border: none;
}

footer {
  border-top: 5px solid darkblue;
  background-color: darkblue;
  color: #eee;
}
#view {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

#view button {
  padding: 0.5rem 1rem;
  border: 1px solid darkblue;
  color: darkblue;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Added transition here for better hover effect */
}

#view button:hover {
  background-color: darkblue;
  color: white;
}

#view button.active {
  background-color: darkblue;
  color: white;
}

#cards.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  gap: 1rem;
  text-align: center;
  margin: 2rem 0;
}

#cards.grid .company {
  width: 100%;
  max-width: 300px;
  padding: 0.3rem;
  margin-inline: 1rem;
  box-shadow: 0 0 10px rgb(0, 0, 255, 0.4);
  min-height: 150px;
}

#cards.grid .company:hover {
  transform: scale(1.01); /* Subtle zoom on hover */
  cursor: pointer;
  transition: transform 0.3s;
}

#cards.list {
  display: grid;
  margin: 2rem 0;
}

#cards.list .company {
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: auto;
  box-shadow: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

#cards.list .company:nth-child(odd) {
  background-color: darkblue;
}

#cards.list .company:hover {
  background-color: rgb(122, 155, 233);
  cursor: default;
}

#cards.list .company img {
  display: none;
}

#cards.empty {
  text-align: center;
  margin: 2rem 0;
}

@media (min-width: 550px) {
  #cards.list .company {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#first-text {
  font-size: large;
  justify-content: center;
  text-align: justify;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  padding-top: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.daily {
  text-align: center;
  font-size: 15px;
}
