
@media screen and (max-width: 34rem) {
    

    html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
    /* Menu */
    .off-screen{
        background-color: cadetblue;
        height: 100vh;
        width: 50%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: x-large;
        transition: .3s ease;
    }



    .off-screen.active{
        right: 0;
    }

    .menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;

    }

    .menu span{
        height: 5px;
        width: 100%;
        background-color: cornflowerblue;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;


    }

    .menu span:nth-child(1){
        top: 25%;
    }
    .menu span:nth-child(3){
        top: 75%;
    }

    .menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .menu.active span:nth-child(2){
        opacity: 0;

    }

    .menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    } 





    /* Header */
    header{
        display: flex;
        font-size: medium;
        border: 0.5rem solid brown;
        border-radius: 1rem;
        border-color: brown;
        text-align: center;
        align-items: center;
            
    }

    header img{
        height: 4rem;
        
        
    }
    header nav a:hover{
        background-color: azure;
        color: palegoldenrod;
        }


    /* Body */

    .first_text{
        font-size: large;
    }




    /* Footer */
    footer {
        border: 0.5rem solid brown;
        border-radius: 1rem;
        border-color: brown;
        
        border-radius: 1rem;
        text-align: center;
        
    }

}











