@media screen and (min-width:64rem) {
    header{
        
        font-size: larger;
        border: 0.5rem solid brown;
        border-radius: 1rem;
        border-color: brown;
        text-align: center;
        align-items: center;
            
    }

    nav a{
        display: inline-flex;
        font-size: x-large;
        justify-content: space-evenly;
        background-color: gray;
    }
    
    .midclass{
        font-size: xx-large;
        margin: -30px;
        
    }
}