.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
}


.message{
    color: black;
}
.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: brown;
}

.title::before {
width: 18px;
height: 18px;
}

.title::after {
width: 18px;
height: 18px;
animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
position: absolute;
content: "";
height: 16px;
width: 16px;
border-radius: 50%;
left: 0px;
background-color: brown;
}

.message, 
.signin {
font-size: 14.5px;
}

.signin {
text-align: center;
}

.signin a:hover {
text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.flex {
    display: flex;
    width: 100%;
    gap: 10px;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
color: black;
position: absolute;
left: 10px;
top: 0px;
font-size: 0.9em;
cursor: text;
transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
top: 12.5px;
font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
color: brown;
top: 0px;
font-size: 0.7em;
font-weight: 600;
}

.input {
font-size: medium;
}

.submit {
border: none;
outline: none;
padding: 10px;
border-radius: 10px;
color: black;
font-size: 16px;
transform: .3s ease;
background-color: burlywood;
width: 100%;
}

.submit:hover {
background-color: #00bfff96;
}

@keyframes pulse {
from {
    transform: scale(0.9);
    opacity: 1;
}

to {
    transform: scale(1.8);
    opacity: 0;
}
}

.social-account-container {
    margin-top: 25px;
}

.social-account-container .title1 {
display: block;
text-align: center;
font-size: 20px;
color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
width: 100%;
display: flex;
justify-content: center;
gap: 15px;
margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
border: 5px solid white;
padding: 5px;
border-radius: 50%;
width: 40px;
aspect-ratio: 1;
display: grid;
place-content: center;
box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
fill: white;
margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
transform: scale(0.9);
}

.agreement {
display: block;
text-align: center;
margin-top: 15px;
margin-bottom: 20px;
}

.agreement a {
text-decoration: none;
color: #0099ff;
font-size: 15px;
}


.section{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 20px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.normal{
    animation-duration: 3s;
    animation-name: slideright;
}

.bronze{
    background-color: rgb(206, 137, 70);
    animation-duration: 3s;
    animation-name: slideleft;
}

.silver{
    background-color: rgb(192,192,192);
    animation-duration: 3s;
    animation-name: slideright;
}

.premium{
    background-color: goldenrod;
    animation-duration: 3s;
    animation-name: slideleft;
}


@keyframes slideleft {
    from{
        translate: -100vh;
        scale: 200% 1;
    }
    to{
        translate: 0 0;
        scale: 100% 1;
    }
    
}

@keyframes slideright {
    from{
        translate: 100vh;
        scale: 200% 1;
    }
    to{
        translate: 0 0;
        scale: 100% 1;
    }
    
}



.section:hover{
    box-shadow: 10px 5px rgb(165, 42, 42, 0.4);
}

fieldset{
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    align-items: center;
}

dialog{
    justify-content: center;
    border: 2px solid brown;
    border-radius: 30px;
    background-color: rgb(165, 42, 42, 0.9);
    color: white;
}

::backdrop{
    background-color: rgb(250, 235, 215, 0.3);
}

#title{
        display: grid;
        grid-template-columns: auto 44px;
        background-color: burlywood;
        border-bottom: brown 2px solid;
        text-align: center;
}









.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
width: 52px;
height: 52px;
background-color: rgb(44, 44, 44);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
background-color: #d62976;
transition-duration: .3s;
}
/* X*/
.containerTwo:hover {
background-color: rgb(14, 9, 9);
transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
background-color: #0072b1;
transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
background-color: #128C7E;
transition-duration: .3s;
}

.socialContainer:active {
transform: scale(0.9);
transition-duration: .3s;
}

.socialSvg {
width: 17px;
}

.socialSvg path {
fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
0% {
    transform: translateY(-50px);
    opacity: 0;
}

100% {
    transform: translateY(0);
    opacity: 1;
}
}

