@media only screen and (max-width: 30rem) {
    #menu {
        display: block;
        font-size: 2rem;
        font-weight:700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #eee;
        color: #000;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    #menu::before {
        content: "≡";
    }
    
    nav {
        background-color: tomato;
    }
    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
    }
    
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a:hover, navigation a:active {
        color: white;
        background-color: black;
    }
    
    .show li {
        display: block;
    }
    
    #menu.show::before {
        content: "X";
    }
    
    
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 span{
    color: brown;
}
/* header */

header{
    display: flex;
    font-size: medium;
    border: 0.2rem solid brown;
    border-color: brown;
    justify-content: center;
    align-items: center;
}

header img{
    height: 4rem;
    padding: 1rem;
    
    
}

#sided{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */
main{
    margin-left: 2rem;
    margin-right: 2rem;
}
.brownbg{
    background-color: brown;
    text-align: center;
    font-size: xx-large;
}

#boardroom {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

figure{
    position:relative;
    margin: 0;
}

figure img{
    width: 100%;
    height: auto;
}

figure figcaption button{
    font-size: larger;
    border: 2px solid brown;
    position: absolute;
    bottom: 8px;
    right: 12px;
    
}

figure figcaption button:hover {
    background-color: brown;
    color: white;
}

.events{
    height: 100%;
}

.blue{
    background-color: brown;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}

#weather-icon {
    max-width: 10%;
    
}

#weather-card{
    padding-bottom: 10px;
    display: grid;
    background-color: rgb(165, 42, 42, 0.4);
}

.flex{
    display: grid;
    color: black;
    font-size: medium;
    text-align: center;
    justify-content: center;
}

#weatherForecast{
    text-align: center;
    background-color: rgb(165, 42, 42, 0.4);
}

.center{
    text-align: center;
    text-decoration: double underline;
    font-family: cursive;
}

.cardSection {
    max-width: 300px;
    box-shadow: 0 0 10px rgb(165, 42, 42, 0.4);
    min-height: 150px;
    border: 2px solid brown;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}




/* footer */
footer {
    border: 0.5rem solid brown;
    border-radius: 1rem;
    border-color: brown;
    border-radius: 1rem;
    text-align: center;
    
}



footer p{
    text-align: left;
}
.footerIma{
    display: flex; 
    
}

.footerIma img{
    padding-left: 15px;
    width: 80px;
    height: 80px;

}

footer p, h5{
    padding-left: 15px
}

#modified{
    font-weight: bolder;
    padding-bottom: 20px;
    text-decoration: double underline;
}




/* Responsive Sites */ 

@media only screen and (min-width: 34rem) {
    header{
        display: flex;
        font-size: large;
        border: none;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
            
    }
    #sided{
        display: flex;
    }
    nav{
        margin-left: 3rem;
        margin-right: 3rem;
        justify-content: space-evenly;
    }
    nav li {
        display: inline;
        padding-top: 1rem;
        padding-bottom: 1rem ;
        background-color: rgb(165, 42, 42, 0.8);
        

    }

    nav li:hover{
        background-color: black;
        
    }
    nav a{
        color: white;
        font-style: oblique;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        align-items: center;
        margin: 7rem;
        text-align: center;
    }

    nav a:active{
        color: blue;
        
    }

    /* main */

    main{
        margin-left: 6rem;
        margin-right: 6rem;
    }

    figure figcaption button{
        font-size: xx-large;
        border: 2px solid brown;
        position: absolute;
        bottom: 8px;
        right: 12px;
        
    }
    #flex{
        display: flex;
        gap: 20px;
        width: 100%;
        justify-content: space-between;
        max-height: 100vh;
    }

    .home{
        width: 100%;
    }
    #weather-card{
        width: 100%;
    }
    
    #weatherForecast{
        width: 100%;
        background-color: none;
    }
    
    #cards{
        display: flex;
        width: 100%;
        min-width: 300px;
    }

    
    footer{
        display: flex;
        font-size: large; 
        justify-content: space-evenly;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    footer p{
        text-align: center;
        font-size: larger;
    }
    .footerIma{
        display: flex; 
        
    }
    
    .footerIma img{
        padding: 15px;
        width: 100px;
        justify-content: center;
        
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}